body {
    font-family: "Inter", sans-serif;
    background-image: linear-gradient(to top, #fff1f2 0%, #fde6f0 100%);
}
h1 {
    text-shadow: 2px 2px 4px rgba(219, 39, 119, 0.2);
}
#webgl-canvas {
    width: 100%;
    height: 192px;
    display: block;
    border-radius: 0.5rem;
}
#toast {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;
}
#toast.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}